# Database Config
DB_HOST=your_tidb_host
DB_USER=your_tidb_user
DB_PASSWORD=your_tidb_password
DB_NAME=your_database_name
DB_PORT=4000

JWT_SECRET=your_jwt_secret

NEXT_PUBLIC_BASE_URL=http://localhost:3000

CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

MAINTENANCE_MODE=false

NEXT_PUBLIC_GA_ID=your_ga_id